.box {
  width: 1900px;
  height: 2800px;
}

.hh {
height: 10%;
width: 100%;
background-color: #F3CD6B;
}

.box .group {
  position: absolute;
  width: 1900px;
  height: 2800px;
  top: 0;
  left: 0;
}

.box .overlap-group {
  position: relative;
  width: 1920px;
  height: 2800px;
  background-color: #ffffff;
}

.box .overlap {
  position: absolute;
  width: 552px;
  height: 138px;
  top: 2739px;
  left: 684px;
  background-image: url(./img/rectangle-5.svg);
  background-size: 100% 100%;
}


.box .div {
  position: absolute;
  width: 1920px;
  height: 900px;
  top: 0;
  left: 0;
  background-image: url(./img/image-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.box .rectangle {
  position: absolute;
  width: 1920px;
  height: 900px;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.4;
}

.box .text-wrapper-2 {
  top: 133px;
  left: 395px;
  color: #ffffff;
  font-size: 164px;
  text-align: center;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}


.box .text-wrapper-3 {
  top: 716px;
  margin-left: 37%;
  width: 480px;
  height: 80px;
  background-color: #F3CD6B;
  transition: all 0.3s ease;
  border-radius: 30px;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  position: absolute;
  font-family: "Inter", Helvetica;
  padding-top: 1.5%;

}

.box .text-wrapper-3:hover {
  top: 716px;
  margin-left: 37%;
  width: 480px;
  height: 80px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #F3CD6B;
  transition: all 0.3s ease;
  border-radius: 30px;
  font-size: 47px;
  text-align: center;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #F3CD6B;

}

.box .text-wrapper-33 {
  top: 2580px;
  margin-left: 37%;
  width: 480px;
  height: 80px;
  background-color: #F3CD6B;
  transition: all 0.3s ease;
  border-radius: 30px;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  position: absolute;
  font-family: "Inter", Helvetica;
  padding-top: 1.5%;

}

.box .text-wrapper-33:hover {
  top: 2580px;
  margin-left: 37%;
  width: 480px;
  height: 80px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #F3CD6B;
  transition: all 0.3s ease;
  border-radius: 30px;
  font-size: 47px;
  text-align: center;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #F3CD6B;

}


.box .text-wrapper-4 {
  top: 961px;
  left: 823px;
  color: #000000;
  font-size: 48px;
  text-align: center;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.box .overlap-2 {
  position: absolute;
  width: 1338px;
  height: 348px;
  top: 1172px;
  left: 291px;
}

.box .span-wrapper {
  width: 678px;
  top: 36px;
  left: 0px;
  color: #000000;
  font-size: 28px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.box .span {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
}

.box .image {
  width: 600px;
  height: 300px;
  top: 0;
  left: 680px;
  position: absolute;
  object-fit: cover;
}

.box .p {
  width: 1338px;
  top: 2316px;
  left: 291px;
  color: #000000;
  font-size: 28px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.box .span-wrapper-2 {
  width: 643px;
  top: 1768px;
  left: 986px;
  color: #000000;
  font-size: 28px;
  text-align: right;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.box .image-2 {
  width: 500px;
  height: 500px;
  top: 1643px;
  left: 309px;
  position: absolute;
  object-fit: cover;
}

.box .text-wrapper-5 {
  top: 2520px;
  left: 672px;
  color: #000000;
  font-size: 34px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}
